@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.app.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

.visual_datapoint {
	display: inline-block;
	width: 8px;
	height: 8px;
	cursor: default;
}